
<% if @sort.eql?('mode') %>
<div class="alert alert-warning">
  Note that we only sort on the <strong>mode</strong> if a single mode value was returned. Otherwise we report null and those entries will appear at the bottom of the list.
</div>
<% end %>

<div class="heading">
  <h1>Scoring Results (<%= @sort %>)
    <span id="totalReviewed"></span>
    <div class="buttons pull-right col-xs-12 col-sm-6 col-md-4">
      <div class="btn-group pull-right">
        <div class="btn-group">
          <button id="sort" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            Sort
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="?sort=mean">Mean</a></li>
            <li><a href="?sort=median">Median</a></li>
            <li><a href="?sort=mode">Mode</a></li>
          </ul>
        </div>
        <div class="btn-group">
          <button id="type" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <span id="name">Abstract Type</span>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu filter-types" role="menu">
            <li><a id="session">Sessions</a></li>
            <li><a id="workshop">Workshops</a></li>
            <li><a id="lightning">Lightning Talks</a></li>
          </ul>
        </div>
      </div>
    </div>
  </h1>
</div>

<div>
  <ul class="abstracts">
    <% @abstracts.each do |abstract| %>
    <li class="<%= abstract.type %>">
      <% if user_is_admin? && abstract.accepted == 1 %>
      <span class="score-accept">
      <% else %>
      <span class="score">
      <% end %>
        <% sort_type = "#{@sort}_score".to_sym %>
        <% if ! abstract[sort_type].nil? %>
          <% if @sort.eql?('mode') %>
            <%= abstract[sort_type] %>
          <% else %>
            <%= "%0.2f" % abstract[sort_type] %>
          <% end %>
        <% end %>
      </span>
      <a href="/abstracts/<%= abstract.id %>"><%= abstract.title %></a><span class="author"> by <a href="mailto:<%= abstract[:email] %>"><%= abstract[:speaker] %></a></span><br>
      <% abstract[:scores].each do |review| %>
        <% if user_is_chair? %>
          <span class="count"><%= review[:count] %></span><span class="comment"><strong><%= review[:judge] %>:</strong>  <%= review[:comment] %></span><br>
        <% elsif user.eql?(review[:judge]) %>
          <span class="count"><%= review[:count] %></span><span class="comment"><%= review[:comment] %></span><br>
        <% end %>
      <% end %>
    </li>
    <% end %>
  </ul>
</div>

<script>
  /*
  // We perform filtering based on abstract type
  // here in the frontend rather than backend like
  // we do for the sorting functionality.
  //
  // We show Sessions by default and hide the others.
  */

  var updateTypeButton = function(label) {
    $('button#type span#name').text(label);
  };

  var showAbstracts = function(type) {
    $('.abstracts li').addClass('hidden');
    $('.abstracts li.' + type).removeClass('hidden');
  };

  showAbstracts('session');
  updateTypeButton('Sessions');

  $('.filter-types li').on('click', 'a', function() {
    showAbstracts(this.id);
    updateTypeButton($(this).text());
  });
</script>
