
<% if @sort.eql?('mode') %>
<div class="alert alert-warning">
  Note that we only sort on the <strong>mode</strong> if a single mode value was returned. Otherwise we report null and those entries will appear at the bottom of the list.
</div>
<% end %>

<div class="heading">
  <h1>Scoring Results (<%= @sort %>)
    <span id="totalReviewed"></span>
    <div class="buttons pull-right col-xs-12 col-sm-6 col-md-4">
      <div class="btn-group pull-right">
        <button id="sort" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          Sort
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="?sort=mean">Mean</a></li>
          <li><a href="?sort=median">Median</a></li>
          <li><a href="?sort=mode">Mode</a></li>
        </ul>
      </div>
    </div>
  </h1>
</div>

<div>
  <ul class="abstracts">
    <% @abstracts.each do |abstract| %>
    <li>
      <span class="score">
        <% sort_type = "#{@sort}_score".to_sym %>
        <% if ! abstract[sort_type].nil? %>
          <% if @sort.eql?('mode') %>
            <%= abstract[sort_type] %>
          <% else %>
            <%= "%0.2f" % abstract[sort_type] %>
          <% end %>
        <% end %>
      </span>
      <a href="/abstracts/<%= abstract.id %>"><%= abstract.title %></a><span class="author"> by <a href="mailto:<%= abstract[:email] %>"><%= abstract[:speaker] %></a></span>
    </li>
    <% end %>
  </ul>
</div>
