<% if flash[:notice] %>
<div class="alert alert-success alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <%= flash[:notice] %>
</div>
<% end %>

<div class="heading">
  <h1>Abstracts
    <span id="totalReviewed"></span>
    <span class="buttons"><a class="btn btn-primary" href="/abstracts/next">Review</a></span>
    <span class="buttons"><a class="btn btn-default" href="/abstracts/new">New Abstract</a></span>
  </h1>
</div>

<div>
  <ul class="abstracts">
    <% @abstracts.each do |abstract| %>
    <li>
      <a href="/abstracts/<%= abstract.id %>"><%= abstract.title %></a><span class="author"> by <%= abstract[:speaker] %></span>
      <!-- 
      <% abstract[:scores].each do |score| %>
        score of <%= score[:count] %> by <%= score[:judge] %>
      <% end %>
      -->
    </li>
    <% end %>
  </ul>
</div>

<script>
  new Donut({
    title: 'Percent complete',
    element: 'span#totalReviewed',
    height: 45,
    width: 45,
    dataset: [<%= dataset_pct_complete %>],
    colors: ['red', '#dfdfdf']
  });
</script>
