<% if flash[:notice] %>
<div class="alert alert-success alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <%= flash[:notice] %>
</div>
<% end %>

<div class="heading">
  <h1>Abstracts
    <span id="userReviewed"></span>
    <span class="buttons"><a class="btn btn-primary" href="/abstracts/next">Review</a></span>
    <span class="buttons"><a class="btn btn-default" href="/abstracts/new">New Abstract</a></span>
  </h1>
</div>

<div>
  <ul class="abstracts">
    <% @abstracts.each do |abstract| %>
    <li>
      <a href="/abstracts/<%= abstract.id %>"><%= abstract.title %></a><span class="author"><!-- by <%= abstract[:speaker] %> --></span>
      <!-- 
      <% abstract[:scores].each do |score| %>
        score of <%= score[:count] %> by <%= score[:judge] %>
      <% end %>
      -->
    </li>
    <% end %>
  </ul>
</div>

<script>
  // User progress chart
  var colors = ('<%= dataset_user_complete %>' == '100.0, 0.0') ? ['#68E768', '#68E768'] : ['red', '#dfdfdf'];
  new Donut({
    title: 'Your Progress',
    element: 'span#userReviewed',
    height: 50,
    width: 50,
    dataset: [<%= dataset_user_complete %>],
    colors: colors
  });
</script>
