
<% if flash[:notice] %>
<div class="alert alert-success alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <%= flash[:notice] %>
</div>
<% end %>

<div class="heading">
  <h1>Abstracts
    <span id="userReviewed"></span>
    <div class="buttons pull-right col-xs-12 col-sm-6 col-md-4">
      <div class="btn-group pull-right">
        <a class="btn btn-primary" href="/abstracts/next">Review</a>
        <a class="btn btn-default" href="/abstracts/new">New Abstract</a>
      </div>
    </div>
  </h1>
</div>

<div>
  <ul class="abstracts">
    <% @abstracts.each do |abstract| %>
    <li>
      <span class="score">
      <% if ! abstract[:my_score].nil? %>
        <%= abstract[:my_score] %>
      <% end %>
      </span>
      <a href="/abstracts/<%= abstract.id %>"><%= abstract.title %></a><span class="author"><!-- by <%= abstract[:speaker] %> --></span>
      <!-- 
      <% abstract[:scores].each do |score| %>
        score of <%= score[:count] %> by <%= score[:judge] %>
      <% end %>
      -->
    </li>
    <% end %>
  </ul>
</div>

<script>
  // User progress chart
  var colors = ('<%= dataset_user_complete %>' == '100.0, 0.0') ? ['#68E768', '#68E768'] : ['red', '#dfdfdf'];
  new Donut({
    title: 'Your Progress',
    element: 'span#userReviewed',
    height: 50,
    width: 50,
    dataset: [<%= dataset_user_complete %>],
    colors: colors,
    unit: '%'
  });
</script>
