
<div class="abstract col-xs-12 col-md-6 col-md-offset-3">
  <h1><%= abstract.title.gsub(/: /, ':<br />') %></h1>
  <p><%= abstract.body.gsub(/\r\n\r/, '<br /><br />') %></p>
</div>

<div class="well scoring col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
  <form id="score" action="#" method="post" role="form">
    <input class="col-xs-3 col-sm-8 col-md-6 col-lg-7" id="scoreSlider" data-slider-id="scoreSlider" type="text" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="<%= abstract[:score] || 0 %>"></input>
    <span class="saveScore">
      <div class="btn-group">
        <button id="submit" class="btn btn-primary">Save Review</button>
        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
          <span class="caret"></span>
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a id="skip" href="#">Skip</a></li>
        </ul>
      </div>
    </span>
  </form>
</div>

<div class="well progress col-xs-12 col-sm-12 col-md-6 col-md-offset-3 text-center">
  <span id="chart"></span>
  <span id="completed"><%= progress[:completed] %></span> out of <span id="total"><%= progress[:total] %></span> abstracts reviewed
</div>

<script type="text/javascript">
  var sliderValue = <%= abstract[:score] || 0 %>;

  $('input#scoreSlider').slider({ tooltip: 'always' });
  $('#scoreSlider').on('slide', function(slideEvt) { sliderValue = slideEvt.value; });
  $('.saveScore').on('click', 'button#submit', function() {
    $.ajax({
      accepts: {json: 'application/json'},
      cache: false,
      data: { count: sliderValue },
      dataType: 'json',
      type: 'POST',
      url: window.location.pathname + '/scores'
    }).success(function() {
      window.location = '/abstracts/next'
    }).fail(function(xhr, textStatus, errorThrown) {
      console.log('failed to score abstract: ' + errorThrown);
      // XXX - need to alert here
    });
  });
  $('.saveScore').on('click', 'a#skip', function() {
    window.location = '/abstracts/next'
  });
</script>

<script>
  // User progress chart
  var colors = ('<%= dataset_user_complete %>' == '100.0, 0.0') ? ['#68E768', '#68E768'] : ['#999', '#fff'];
  new Donut({
    title: 'Your Progress',
    element: '.progress span#chart',
    height: 50,
    width: 50,
    dataset: [<%= dataset_user_complete %>],
    colors: colors,
    unit: '%'
  });
</script>
