<h1>Welcome to Judy</h1>

<div class="charts"></div>

<script>
  var charts = [
    {
      title: 'Total Reviewed',
      dataset: [<%= dataset_total_complete %>],
      colors: ('<%= dataset_total_complete %>' == '100.0, 0.0') ? ['#68E768', '#68E768'] : ['red', '#dfdfdf']
    },
    {
      title: 'Your Progress',
      dataset: [<%= dataset_user_complete %>],
      colors: ('<%= dataset_user_complete %>' == '100.0, 0.0') ? ['#68E768', '#68E768'] : ['red', '#dfdfdf']
    },
    {
      title: 'Score Distribution',
      dataset: [<%= dataset_score_distribution %>],
      colors: d3.scale.category20c()
    }
  ];

  for (var i=0; i < charts.length; i++) {
    $('div.charts').append('<div class="col-md-2" id="chart' + i + '"></div>');

    var element = '.charts div#chart' + i;
    var size = $('.charts div.col-md-2').width();

    new Donut({
      title: charts[i].title,
      element: '.charts div#chart' + i,
      height: size,
      width: size,
      dataset: charts[i].dataset,
      colors: charts[i].colors
    });

    $('.charts div#chart' + i).append('<span class="title">' + charts[i].title + '</span>')
  }
</script>
